.wrapper {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
<<<<<<< HEAD
    background-color: #a1cbf8;
=======
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
>>>>>>> 26f34cb4b228b21da625fcabaf6f9e60f8a4f7dc
  }