.display{
    height: 60px;
    width: 100%;
    margin: 10px 0 20px;
    padding: 0 20px;
    font-size: 32px;
    background-color: #2835412d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}