.btnPanel button {
    width: 78px;
    height: 78px;
    margin: 2px;
    background-color: rgba(128, 44, 207, 0.678);
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnPanel .zero {
    width: 156px;
    height: 78px;
}
